@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: #F0F0F0;
    min-height: 500px;
}

p{
    margin: 0px;
}

/******** Navbar *********/

.navbar{
    width: 100%;
    height: 55px;
    color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    z-index: 100;
}

.float-left{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.float-right{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 70px;
}

@media(max-width: 900px){
    .float-left{
        padding-left: 40px;
    }

    .float-right{
        padding-right: 40px;
    }
}


@media(max-width: 650px){
    .float-left{
        padding-left: 50px;
    }

    .float-right{
        padding-right: 50px;
    }
}

@media(max-width: 500px){
    .float-left{
        padding-left: 30px;
    }

    .float-right{
        padding-right: 30px;
    }
}

.logo-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.img-cont-profile{
    aspect-ratio: 1/1;
    height: 37px;
    width: 37px;
    overflow: hidden;
    border-radius: 50%;
}

.img-cont-profile img{
    width: 100%;
    height: 100%;
}

.logo-name{
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.nav-button{
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 12px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.menu-btn{
    height: 40px;
    width: 40px;
    overflow: hidden;
    cursor: pointer;
    margin-left: 10px;
}

.menu-btn img{
    width: 100%;
    height: 100%;
}

.menu-button{
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 12px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.A, .B, .C, .D, .E, .F, .G
.a, .b, .c, .d, .e, .f, .g

.A, .C, .D, .E{
    display: block;
}

.B, .F, .G{
    display: none;
}

.a, .c, .d, .e{
    display: none;
}

.b, .f, .g{
    display: block;
}


@media(max-width:900px){
    .C{
        display: none;
    }
    .c{
        display: block;
    }
}

@media(max-width:720px){
    .A, .D, .E{
        display: none;
    }
    .a, .d, .e{
        display: block;
    }
}


/*********** Menu Container *************/

.menu-container{
    position: fixed;
    left: -250px;
    top: 0px;
    width: 250px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.78);
    z-index: 10;
    padding-left: 25px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.3s;
}

.menu-container.active{
    left: 0px;
    transition: 0.3s;
}


/*********** Header ************/

.header-all{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/images/backgroundHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media(max-width: 430px){
    .header-all{
        height: 95vh;
    }
}

.obj-container{
    height: 90%;
    width: 100%;
    outline: none;
    z-index: 5
}

.itsavatar{
    width: 100%;
    height: 100%;
    outline: none;
}

/************* Background ItsMihai **************/

.carousel{
    width: 100%;
    height: 20vh;
    max-height: 500px;
    overflow-x: auto;
    display: flex;
    gap: 25px;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel1{
    position: absolute;
    top: 65%;
    transform: translateY(-35%);
    z-index: 3;
}

.carousel2{
    position: absolute;
    top: 35%;
    transform: translateY(-65%);
    z-index: 3;
}


.group{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.group1{
    animation: spin1 35s infinite linear;
}

.group2{
    animation: spin2 35s infinite linear;
}

.card{
    font-weight: bold;
    font-size: 60px;
    filter: opacity(0.1)
}

@media(max-width: 1500px){
    .card{
        font-size: 50px;
    }
}

@media(max-width: 1000px){
    .card{
        font-size: 40px;
    }
}

@keyframes spin1 {
    from {translate: 0%;}
    to {translate: -100%;}
}


@keyframes spin2 {
    from {translate: -100%;}
    to {translate: 0%;}
}


/************* Header end Container **************/

.header-end-container{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30vh;
    z-index: 7;
}

.shape{
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 80%, 100% 100%, 0 100%);
    background-color: #F0F0F0;
    box-shadow: 20px -4px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.tit2-container{
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.roles-container{
    height: 40px;
    width: 200px;
    overflow: hidden;
}

.roles{
    animation: none;
}

.roles.animation1{
    animation: role-change1 5s infinite;
}

.roles.animation2{
    animation: role-change2 5s infinite;
}

.role{
    color: #ff2a85;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-shadow: 
    0 0 7px rgba(255, 42, 133, 0.5),
    0 0 14px rgba(255, 42, 133, 0.2);
}

.tit1, .tit2, .roles-container{
    font-weight: bold;
    transform: translateY(20px);
}

@keyframes role-change1 {
    0%, 10% {
        transform: translateY(0%);
    }
    18% {
        transform: translateY(-20%);
    }
    25%, 35% {
        transform: translateY(-20%);
    }
    43% {
        transform: translateY(-40%);
    }
    50%, 60% {
        transform: translateY(-40%);
    }
    68% {
        transform: translateY(-60%);
    }
    75%, 85% {
        transform: translateY(-60%);
    }
    93% {
        transform: translateY(-80%);
    }
    100% {
        transform: translateY(-80%);
    }
}

@keyframes role-change2 {
    0%, 10% {
        transform: translateY(0%);
    }
    18% {
        transform: translateY(-100%);
    }
    25%, 35% {
        transform: translateY(-100%);
    }
    43% {
        transform: translateY(-200%);
    }
    50%, 60% {
        transform: translateY(-200%);
    }
    68% {
        transform: translateY(-300%);
    }
    75%, 85% {
        transform: translateY(-300%);
    }
    93% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(-400%);
    }
}

.tit1{
    font-size: 40px;
    margin-bottom: 20px;
}

.tit2, .roles-container{
    font-size: 30px;
}

@media(max-width: 1400px){
.shape {
    padding-left: 5%;
}

.tit1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.tit2, .roles-container{
    font-size: 27px;
}
}

@media(max-width: 950px){
    .shape {
    padding-left: 3%;
}

.tit1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.tit2, .roles-container{
    font-size: 23px;
}
.roles-container{
    height: 38px;
}
}

@media(max-width: 720px){
    .shape {
    padding-left: 3%;
}

.roles-container{
    width: 150px;
}

.tit1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.tit2, .roles-container, .tit2-container{
    display: flex;
    font-size: 23px;
    flex-direction: row;
}
}

@media(max-width: 600px){
    .shape {
    padding-left: 8px;
}

.tit2-container{
    flex-direction: row;
}

.roles-container{
    height: 32px;
}

.tit1 {
    font-size: 27px;
    margin-bottom: 10px;
}

.tit2, .roles-container{
    max-width: 350px;
    font-size: 20px;
}
}

@media(max-width: 530px){
.tit2, .roles-container, .tit2-container{
    max-width: 500px;
    font-size: 20px;
    flex-direction: row;
} 
.header-end-container{
    height: 30vh;
}
.shape{
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
}
}

@media(max-width: 500px){
.tit2-container{
    flex-direction: row;
} 
}

@media(max-width: 440px){
.tit2-container{
    flex-direction: row;
}
}

@media(max-width: 340px){
    .role, .tit2{
        font-size: 18px;
    }
}

/*********** Call to Action *************/

.action-btn-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.act{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 35px;
    border-radius: 25px;
    border: none;
    cursor: pointer;

    background-color: #ede9e9;
    border: 3px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.act:hover {
  transform: translateY(-1px);
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.12);
}


.act1{
    color: white;
    background-color: #ff2a85;
}

.act2{
    border: 2px solid black;
}

@media(max-width: 950px){
    .act{
        font-size: 17px;
    }
}


@media(max-width: 600px){
    .act{
        font-size: 15px;
    }
}

@media(max-width: 440px){
.action-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-left: -5px;
    padding: 5px 0px;
}
.act{
    width: 45%;
}
}

@media(max-width: 360px){
.action-btn-container{
    margin-left: -8px;
}
.act{
    width: 48%;
    padding: 5px 0px;
}
}

/************** About Me **************/

.container-all-about-me{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    margin-top: 30px;
    padding: 15px;
}

.about-me-title{
    font-weight: bold;
    font-size: 32px;
    margin-top: 10px;
}

.container-about-me{
    max-width: 1300px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 2%;
}


.section1, .section2{
    width: 49%;
    height: 100%;
}

@media(max-width: 750px) {
.container-about-me {
    flex-direction: column;
}

.section1, .section2 {
    width: 100%;
    height: 100%;
}
}

.container-tit{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px 5px;
    gap: 10px;
}


.title-text{
    font-weight: bold;
    font-size: 26px;
}

.video{
    width: 610px;
    height: 340px;
}

@media(max-width: 1250px){
.video{
    width: 550px;
    height: 310px;
}   
}

@media(max-width: 1130px){
.video{
    width: 480px;
    height: 270px;
}   
}

@media(max-width: 990px){
.video{
    width: 400px;
    height: 220px;
}   
}

@media(max-width: 820px){
.video{
    width: 360px;
    height: 200px;
}   
}

@media(max-width: 750px){
.video-container-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video{
    width: 550px;
    height: 310px;
    align-self: center;
}   
.container-tit{
    margin-top: 10px;
}
}

@media(max-width: 600px){
.video{
    width: 450px;
    height: 250px;
}  
.about-me-title{
    font-size: 29px;
}
.title-text{
    font-size: 24px;
}
}

@media(max-width: 500px){
    .video{
        width: 350px;
        height: 190px;
    }
}

@media(max-width: 410px){
    .video{
        width: 320px;
        height: 180px;
    }
}

@media(max-width: 360px){
    .video{
        width:285px;
        height: 158px;
    }
}

.section2{
    padding: 10px;
    margin-top: 15px;
}

.description-container{
    background-color: #ede9e9;
    border-radius: 16px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.description-container2{
    margin-top: 10px;
}

.description-container:hover {
  transform: translateY(-1px);
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.12);
  cursor: default;
}

.social-links-tit{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 8px;
}

.social-roblox-tit{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 18px;
}

.container-social-quick{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin-left: 35px;
}

@media(max-width: 400px){
    .container-social-quick{
        margin: 0px;
        display: flex;
        justify-content: center;
    }
}

.social-quick{
    aspect-ratio: 1/1;
    height: 45px;
    width: 45px;
    overflow: hidden;
}

.social-quick img{
    width: 100%;
    height: 100%;
}

.container-roblox-quick{
    display: flex;
    gap: 25px;
    margin-left: 30px;
}

.social-roblox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    color: black;
    font-size: 18px;
}

@media(max-width: 400px){
    .container-roblox-quick{
        margin: 0px;
        display: flex;
        justify-content: center;
    }
}

/************** Videos **************/

.container-all-videos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    overflow: hidden;
}

.with-title{
    padding: 15px;
    overflow: hidden;
}

.title-videos{
    font-weight: bold;
    font-size: 27px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: -30px;
}

.video-container{
    border-top: 2px solid;
    height: auto;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    overflow: hidden;
    max-width: 1700px;
}


.carousel-track{
    display: flex;
    gap: 15px;
    width: max-content;
    animation: scroll-videos 20s linear infinite;
    overflow: hidden;
}

@keyframes scroll-videos{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-50%);
    }
}

.video-container:hover .carousel-track, .carousel-track:hover .carousel-track{
    animation-play-state: paused;
}

/******* Vids Settings ********/

.video-card{
    height: 400px;
    width: 227px;
    border: 2px solid;
    border-radius: 25px;
    flex: 0 0 auto;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    /******************Flex*******************/
}

.video-card img{
    width: 100%;
    height: 100%;
    filter: brightness(0.93)
}

.yt-shorts{
    position: absolute;
    width:70px;
    height: 90px;
}

.yt-shorts img{
    width: 100%;
    height: 100%;
}


@media(max-width: 1850px){
    .video-container{
        max-width: 1700px;
    }
}

@media(max-width: 1750px){
    .video-container{
        max-width: 1600px;
    }
}

@media(max-width: 1650px){
    .video-container{
        max-width: 1500px;
    }
}

@media(max-width: 1550px){
    .video-container{
        max-width: 1400px;
    }
}

@media(max-width: 1470px){
    .video-container{
        max-width: 1350px;
        width: 100%;
    }
    .video-card{
        height: 350px;
        width: 195px;
    }
}

@media(max-width: 1430px){
    .video-container{
        max-width: 1250px;
    }
}

@media(max-width: 1280px){
    .video-container{
        max-width: 1100px;
    }
}

@media(max-width: 1140px){
    .video-container{
        max-width: 1000px;
    }
}

@media(max-width: 1030px){
    .video-container{
        max-width: 900px;
    }
}

@media(max-width: 930px){
    .video-container{
        max-width: 850px;
    }
}

@media(max-width: 870px){
    .video-container{
        max-width: 780px;
    }
}

@media(max-width: 800px){
    .video-container{
        max-width: 700px;
    }
}

@media(max-width: 720px){
    .video-container{
        max-width: 600px;
    }
}

@media(max-width: 620px){
    .video-container{
        max-width: 500px;
    }
    .video-card{
        height: 300px;
        width: 170px;
    }
}

@media(max-width: 525px){
    .video-container{
        max-width: 450px;
    }
}

@media(max-width: 470px){
    .video-container{
        max-width: 400px;
    }
}

@media(max-width: 430px){
    .video-container{
        max-width: 380px;
    }
}

@media(max-width: 400px){
    .video-container{
        max-width: 350px;
    }
}

@media(max-width: 370px){
    .video-container{
        max-width: 320px;
    }
}

@media(max-width: 345px){
    .video-container{
        max-width: 300px;
    }
}

.center-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.view-all-vids-container{
    text-decoration: none;
}

.view-all-vids{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 35px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: white;
    background-color: #ff2a85;
    width: 260px; 
}

.view-all-vids:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.12);
}

@media(max-width: 600px){
    .view-all-vids{
        font-size: 15px;
        width: 211px;
    }
}

/************* Social Links **************/

.socials-title{
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.container-all-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.container-socials{
    max-width: 1400px;
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 300px 300px;
    gap: 2%;
}

@media(max-width: 1120px){
    .container-socials{
        grid-template-rows: 280px 280px;
    }
}

.container-link{
    border: 2px solid black;
    border-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    border: 3px solid rgba(10, 10, 10, 0.057);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
}

.section1-link{
    height: 100%;
    width: 60%;
}

.section2-link{
    height: 100%;
    width: 40%;
}

@media(max-width: 1000px){
.section1-link{
    height: 100%;
    width: 55%;
}

.section2-link{
    height: 100%;
    width: 45%;
}

}


.section1-link{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.cont-name{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.icon-container{
    aspect-ratio: 1/1;
    width: 45px;
    height: 45px;
    overflow: hidden;
}

.icon-container img{
    width: 100%;
    height: 100%;
}

.social-name{
    font-size: 25px;
    font-weight: bold;
}

.social-des{
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.why-title{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 7px;
}

.social-description{
    width: 100%;
    height: auto;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
}

.section2-link{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.img-profile-cont{
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 15px;
}

.img-profile-cont img{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
}

.container-visit-profile{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 25px;
}

.button-visit-profile{
    font-weight: bold;
    font-size: 18px;
    color: white;
    border: 3px solid #ff2a85;
    background-color: #ff2a85;
    border-radius: 50px;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.button-visit-profile:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

@media(max-width: 920px){
    .button-visit-profile{
        padding: 5px 10px;
    }
}

@media(max-width: 850px){
    .section1-link{
        padding: 10px;
        width: 55%;
    }
    .section2-link{
        width: 45%;
    }
    .icon-container{
        width: 40px;
        height: 40px;
    }
    .social-name{
        font-size: 24px;
    }
    .container-link{
        height: 260px;
    }
}

@media(max-width: 780px){
    .container-socials{
        grid-template-columns: 49.5% 49.5%;
        gap: 1%;
    }
    .container-all-socials{
        padding: 10px;
    }
    .social-des{
        margin-top: -5px;
    }
}

@media(max-width: 750px){
    .container-socials{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
    .container-link{
        max-width: 500px;
    }
    .container-all-socials{
        padding: 15px;
    }
}

@media(max-width: 430px){
    .container-all-socials{
        padding: 7px;
    }
    .container-link{
        height: 100%;
    }
    .section1-link{
        padding: 5px;
    }
    .social-des{
        padding: 6px;
    }
    .section2-link{
        height: 100%;
    }
    .socials-title{
        margin-bottom: 10px;
        margin-top: 15px;
    }
}

@media(max-width: 380px){
    .container-link{
        transform: scale(0.95);
        margin: 0px;
        margin-bottom: -10px;
    }
    .container-all-socials{
        padding: 0px;
    }
    .button-visit-profile{
        font-size: 16px;
        transform: scale(0.90);
    }
    .social-name{
        font-size: 20px;
    }
    .why-title{
        font-size: 15px;
    }
    .img-profile-cont{
        width: 100%;
        height: 100%;
        aspect-ratio: none;
    }
}

@media(max-width: 370px){

    .social-description{
        font-size: 14px;
    }
}

.container-visit-profile a{
    text-decoration: none;
}


/****************** Merch ******************/

.merch-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    background-color: rgb(224, 224, 224);
    padding-top: 20px;
    padding-bottom: -5px;
}

.container-all-merch{
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.container-merch{
    max-width: 1200px;
    width: 100%;
    background-color: rgb(235, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
}

.section1-merch{
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-left: -40px;
}

.section2-merch{
    width: 56%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 20px;
}

.img-merch-container-all{
    aspect-ratio: 1/1;
    width: 75%;
    position: relative;
}

.img-merch-container{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
     border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
}

.img-merch{
    width: 100%;
    height: 100%;
}

.arrow-left{
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:#f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    transition: 0.3s;
}

.arrow-left:hover{
    transform: translateY(-50%) scale(1.05);
    transition: 0.3s;
}

.arrow-right{
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:#f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    transition: 0.3s;
}

.arrow-right:hover{
    transform: translateY(-50%) scale(1.05);
    transition: 0.3s;
}

.other-img-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img1, .img2{
    height: 60px;
    width: 60px;
    border: 2px solid;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.img1 img, .img2 img{
    width: 100%;
    height: 100%;
}

.img1:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.img2:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.title-merch{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
}

.description-merch{
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    padding: 15px;
}

.size-title{
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
}

.size-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.size{
    font-weight: bold;
    padding: 10px 40px;
    background-color:#dad7d7;
    cursor: pointer;
    transition: 0.3s;
}

.size:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color:#cac9c9;
}

.price{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.buy-button{
    color: white;
    background-color: rgb(13, 167, 13);
    font-weight: bold;
    font-size: 20px;
    padding: 10px 50px;
    margin-top: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.buy-button:hover{
    transition: 0.3s;
    transform: scale(1.05);
}

@media(max-width: 1150px){
    .img-merch-container-all{
        width: 85%;
    }
}

@media(max-width: 960px){
    .img-merch-container-all{
        width: 80%;
    }
    .section1-merch{
        width: 45%;
    }
    .section2-merch{
        width: 55%;
    }
}

@media(max-width: 860px){
    .title-merch{
        font-size: 27px;
    }
    .description-merch{
        font-size: 14px;
    }
    .size-title{
        font-size: 20px;
    }
    .price{
        font-size: 20px;
    }
    .buy-button{
        font-size: 18px;
    }
}

@media(max-width: 820px){
    .section1-merch{
        width: 50%;
    }
    .section2-merch{
        width: 50%;
    }
    .title-merch{
        font-size: 25px;
    }
}

@media(max-width: 750px){
    .container-merch{
        flex-direction: column;
    }
    .section1-merch{
        width: 100%;
        margin: 0;
    }
    .section2-merch{
        width: 100%;
        margin: 0;
    }
    .img-merch-container-all{
        width: 100%;
        max-width: 350px;
    }
}

@media(max-width: 500px){
    .img-merch-container-all{
        width: 80%;
    }
}

@media(max-width: 410px){
    .title-merch{
        font-size: 22px;
        margin-top: 10px;
    }
    .container-all-merch{
        padding: 0px;
    }
    .container-merch{
        padding: 10px;
        padding-bottom: 20px;
        border-radius: 0px;
    }
    .container-all-merch{
        background-color: transparent;
    }
    .merch-title{
        background-color: transparent;
        margin-bottom: 10px;
    }
}

@media(max-width: 340px){
    .img-merch-container-all{
        width: 85%;
    }
    .buy-button{
        padding: 10px 40px
    }
}


/****************** Community *******************/

.community-container-all{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.community-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.community-container{
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 2%;
    padding: 15px;
}

.cont1, .cont2{
    width: 49%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    background-color: #d2d1d1a6;     
}

@media(max-width: 885px){
    .community-container{
        gap: 40px;
        flex-direction: column;
    }
    .cont1, .cont2{
        width: 100%;
    }
}

.cont1-down, .cont2-down{
    padding: 20px 25px;
}

.title-container{
    width: 100%; 
    height: 60px;
    overflow: hidden;
    background-color: #d8d7d7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.04), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    gap: 10px;
}

.svg-container{
    height: 45px;
    width: 45px;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.svg-container img{
    width: 100%; 
    height: 100%;
}

.name-community{
    font-weight: bold;
    font-size: 25px;
}

.benefits-container{
    width: 100%;
}

.benefits-title, .photo-title{
    font-weight: bold;
    font-size: 18px;
}

.photo-container{
    margin-top: 15px;
}

.photo-galery{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}

.img-cont{
    border-radius: 15px;
    overflow: hidden;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: 0.3s;
}

@media(max-width: 450px){
    .img-cont{
        height: 60px;
        width: 60px;
    }
    .photo-galery{
        gap: 5px;
    }
}

@media(max-width: 350px){
    .img-cont{
        height: 50px;
        width: 50px;
    }
}

.img-cont img{
    width: 100%;
    height: 100%;
}

.img-cont:hover{
    transition: 0.3s;
    transform: scale(1.05);
}

.join-container{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cont-all{
    width: 100%;
    border: 2px solid #ff2a85;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 50px;
}

.cont-all a{
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: calc(100% - 90px);
}

.lupa{
    min-height: 30px;
    min-width: 30px;
    height: 30px;
    width: 30px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}

.lupa img{
    width: 100%;
    height: 100%;
}

.cont-link{
    width: 100%;
    overflow: hidden;
}

.join-btn{
    font-size: 20px;
    font-weight: bold;
    padding: 3px 17px;
    background-color: #ff2a85;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    margin-right: 6px;
    transition: 0.3s;
    width: 80px;
}

.join-btn:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.04), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
}


/************** Fan Art **************/

.fanart-container-all{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fanart-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
}

.fanart-container{
    padding: 15px;
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fanart-description{
    background-color: #e1dede;
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
}


.fanart-cont{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(150px, auto);
    gap: 1rem;
}

@media(max-width: 1000px){
    .fanart-cont{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 500px){
    .fanart-cont{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 380px){
    .fanart-cont{
        gap: 0.3rem;
    }
    .fanart-container{
        padding: 5px;
    }
}


.fanart-item{
    position: relative;
    border: 2px solid;
    aspect-ratio: 1/1;
    width: 100%;
    transition: 0.3s;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.04), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
}

.fanart-item:hover{
    transform: scale(1.015);
}

.fanart-img{
    width: 100%;
    height: 100%;
}

.madeby{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 15px;
    color:#ff2a85;
    font-weight: bold;
    text-align: end;
}

@media(max-width: 650px){
    .madeby{
        font-size: 12px;
    }
}
















































/************** soon ************/
.container-soon-all{
    width: 100%;
    height: 500px;  /* <--- CHANGE SOON */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-soon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
}

.img-cont-soon{
    aspect-ratio: 1/1;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 3px solid black;
    overflow: hidden;
}

.img-cont-soon img{
    width: 100%;
    height: 100%;
}

.text-soon{
    text-align: center;
}

.text-soon1{
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.link{
    font-weight: bold;
    margin-top: 20px;
    text-decoration: underline;
    color: black;
}
